#tab-dbo {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: max-content;
    width: inherit;
  }
  
#tab-dbo th {
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

#tab-dbo td, #tab-dbo th {
    border: 1px solid #ddd;
    padding: 5px;
}

#tab-dbo tr:nth-child(even){background-color: #f2f2f2;}

#tab-dbo tr:hover {background-color: #ddd;}
